.main {
    align-items: center;
    align-content: center;
    text-align: center;
}

.presentation {
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}
.presentation img {
    max-width: 100%;
    height: auto;
}

.resume {
    font-size: 1.1em;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}
.resume > i {
    margin: 5px;
}

.my_info {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: auto;
    max-width: 1024px;
    background: white;
    display: grid;
    grid-template-columns: 550px 507px;
    grid-column-gap: 30px;
    padding: 10px;
}

.about_me {
    text-align: left;
}

.basic_info_table {
    text-align: left;
}

.education {
    display: block;
    margin: auto;
    max-width: 1024px;
    background: white;
}